<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.ratings.count > 0 %>
    has made <%= pluralize @user.ratings.count, 'rating' %>.
    Average of ratings is <%= @user.average_rating %>
  <% else %>
  hasn't rated anything.
<% end %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
  <li>
    <%= rating %>
    <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  <% end %>
</ul>

<b>member of</b>
<ul>
  <% @user.memberships.each do |ms| %>
      <li> <%=link_to ms.beer_club.name, ms.beer_club %></li>
  <% end %>
</ul>
<br/>

<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %>|
<%= link_to 'Back', users_path %>
