<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <i>Established at <%= @brewery.year %></i>
</p>

<p>
  <strong>Number of beers:</strong> 
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
  <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
  Brewerys beers have not yet been rated!
  <% else %>
  Has <%= @brewery.ratings.count %> <%= "rating".pluralize(@brewery.ratings.count)%>, average <%= @brewery.average_rating %>
<% end %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
